$font-family-bold: "AktivGrotesk-Bold";
$font-family-regular: "AktivGrotesk-Regular";
$font-family-moderate: "AktivGrotesk-Medium";
@font-face{
    font-family: regularFont;
    src:url(./Fonts/AktivGrotesk_A_Rg.ttf);
}
@font-face{
    font-family:boldFont;
    src:url(./Fonts/AktivGrotesk_A_Bd.ttf);
}
.left-panel-contents {
ol{
    margin-top: 5%;
    text-align: center;
    
}
ol:before{
    content: attr(data-header);
    font-size:170%;
    font-weight:bold;
    font-family:boldFont;
    padding:0;
    text-transform: uppercase;
    margin-top:1%;
    
}

    
ol li{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 8px 20px;
    cursor: pointer;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-family: regularFont;
    &:hover{
        background-color: #898F9C;
        color:white;
    }
    
    }
    ol li.active{
    background-color: #4267B2;
    color:white;
}
}   
 
.inactive{
    color:green;
    background-color: yellow;
}