$font-family-bold: "AktivGrotesk-Bold";
$font-family-regular: "AktivGrotesk-Regular";
$font-family-moderate: "AktivGrotesk-Medium";
@font-face {
  font-family: regularFont;
  src: url(./Fonts/AktivGrotesk_A_Rg.ttf);
}
@font-face {
  font-family: boldFont;
  src: url(./Fonts/AktivGrotesk_A_Bd.ttf);
}
.left-panel-contents {
  ol {
    margin-top: 5%;
    text-align: center;
  }
  ol:before {
    content: attr(data-header);
    font-size: 170%;
    font-weight: bold;
    font-family: boldFont;
    padding: 0;
    text-transform: uppercase;
    margin-top: 1%;
  }

  ol li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    cursor: pointer;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-family: regularFont;
    width: 249px;
    border-radius: 100px;
    // &:hover {
    //      background-color: #898f9c;
    //      color: white;
    // }
  }
  ol li.active {
    background-color: #00be6e;
    color: white;
  }
}

.inactive {
  color: green;
  background-color: yellow;
}
